
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_MasterPage</title>
</head>
<body>
<div align="center">
    <h2>Hospital Managment System </h2>
</div>
<div align="center">
    @RenderBody()
</div>


    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


</body>

</html>
